.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: #ececec 1px solid;
}
.nav {
  display: flex;
  align-items: center;
}
.nav__logo,
.site-nav__link,
.auth-nav__contacts {
  display: flex;
}
.nav__logo {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}
.nav__logo--blue {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item {
  position: relative;
}
.site-nav__item:not(:first-child) {
  margin-left: 40px;
}
.site-nav__link {
  color: var(--primary-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  border-bottom: 4px solid var(--accent-color);
  border-radius: 2px;
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}
.auth-nav {
  display: flex;
  margin-left: auto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.auth-nav__item--retreat {
  margin-left: 30px;
}
.icon-envelope {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-smartphone {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__contacts:hover .icon-envelope,
.auth-nav__contacts:focus .icon-envelope,
.auth-nav__contacts:hover .icon-smartphone,
.auth-nav__contacts:focus .icon-smartphone {
  fill: var(--accent-color);
}

.auth-nav__contacts {
  align-items: center;
  /* justify-content: center; */
  color: var(--secondary-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__contacts:hover,
.auth-nav__contacts:focus {
  color: var(--accent-color);
}